/* nav */
.upper-nav {
    color: #FFFFFF;
    background-color: #16618F;
    height: 100%;
}

a {
    color: #fff;
}

select{
    color: #121314;
}

.upper-nav-block {
    padding: 0.5%;
    margin-left: 62%;
}

a.nav-items-upper {
    padding-left: 7%;
}

.main-nav{
    padding-top: 2%;
    margin-left: 60%;
    color: #FFFFFF;
}

a.nav-items {
    font-size: large;
    padding-left: 5%;
}

.container-fluid {
    /* border: 2px solid purple !important; */
    width: 100%;
}

p:not(.header p, .nosotros p){
    text-align: justify;
}

::-webkit-scrollbar {
    display: none;
}

/* ------ HEADER NAATIK -------- */

.header .col-sm-6 {
    /* border: 2px solid red; */
    display: block;
    /* margin-bottom: 10%; */
}

.header .col-sm-6 img {
    /* border: 2px solid green; */
    margin-left: 12%;
    margin-top: 10%;
}

.header button{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #00A8DB;
    height: 50px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
}

.header {
    background: linear-gradient(to bottom left, #27C0EF, #cfdee6);
    /* border: 2px solid blue; */
}

h1 {
    font-size: 100px;
    font-weight: bold;
}

.header p{
    font-size: 60px;
    width: 70%;
    font-weight: bold;
}

h1, .header p {
    margin-top: 10%;
    margin-left: 10%;
    color: #FFFFFF;
    /* border: 1px solid green; */
} 

/* ------- FIN HEADER NAATIK -------- */

/* ------- NOSOTROS ----------*/

.nos1 {
    padding: 0;
    width: 50%;
    float: left;
}

.nos2 {
    width: 50%;
    float: right;
}

#aboutus {
    width: 75%;
    margin-left: 15%;
    margin-top: 10%;
}

.nosotros h2, .necesitas h2 {
    margin-top: 30%;
    font-size: 40px;
    font-weight: bold;
    color: #034D82;

}

.nosotros p {
    width: 80%;
    color: #90A3B4;
    font-size: 18px;
    /* border: 1px solid green; */
    line-height: 40px;
    margin-top: 5%;
    margin-bottom: 8%;
}

.nosotros a {
    font-weight: bold;
    color: #04AADD;
    font-size: 18px;
}
/* ------- FIN NOSOTROS ----------*/

/* --- NAATIK TIENE LO QUE NECESITAS ----- */

.necesitas div {
    border: 1px solid red;
}

.necesitas h2 {
    margin-top: 20%;
    margin-left: 10%;
    line-height: 50px;
}

.nec1 {
    width: 45%;
    float: left;
}

.nec1 p, .nec1 li {
    margin-left: 10%;
    width: 80%;
    color: #90A3B4;
    font-size: 18px;
    line-height: 40px;
    margin-top: 5%;
    margin-bottom: 8%;
}

.nec2 {
    width: 55%;
    float: right;
}

ul {
    /* padding-left: 20%; */
    border: 2px solid green;
}

.necesitas a {
    font-weight: bold;
    color: #04AADD;
    font-size: 18px;
    margin-left: 15%;
}

/* --- FIN TODO LO QUE NECESITAS */

/* Cards */
#cards {
    background: #121314;
    box-sizing: border-box;
}

/* body > ul {
    position: absolute;
    top: 50%;
    width: 800px;
    height: 200px; 
    left: 50%;
    margin-left: -400px;
    margin-top: -130px;
}

ul > li {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 200px; 
    opacity: 0;
    padding-top: 40px;
    text-align: center;
    transition: 1s opacity; 
} */

.active {
    opacity: 1;
}

#cards p {
    font-family: sans-serif;
    font-size: 13px;
    color: #646566;
    line-height: 1.5em;
}

#cards strong { 
    color: #646566;
    font-weight: 700;
    font-size: 60px; 
    line-height: 100px; 
}

/* Sobre nosotros */







