*{
    font-family: 'Mulish', sans-serif;;
}
/* nav */
.upper-nav {
    color: #ffffff;
    background-color: #16618F;
    height: 100%;
}

a {
    color: rgb(255, 255, 255);
}

select{
    color: #121314;
}

.upper-nav-block {
    padding: 0.5%;
    margin-left: 62%;
}

a.nav-items-upper {
    padding-left: 7%;
}

.main-nav{
    padding-top: 2%;
    margin-left: 60%;
    color: #ffffff;
}

a.nav-items {
    font-size: large;
    padding-left: 5%;
}

.container-fluid {
    /* border: 2px solid purple !important; */
    width: 100%;
    padding: 0 0 !important;
}

p:not(.header p, .nosotros p){
    text-align: justify;
}

::-webkit-scrollbar {
    display: none;
}

/* ------ HEADER NAATIK -------- */

.header .col-sm-6 {
    /* border: 2px solid red; */
    display: block;
    /* margin-bottom: 10%; */
}

.header .col-sm-6 img {
    /* border: 2px solid green; */
    margin-left: 12%;
    margin-top: 10%;
}

.header button{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #00A8DB;
    height: 50px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
}

.container button{
    margin-bottom: 3%;
    margin-left: 10%;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    color: #00A8DB;
    height: 50px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
}

.header {
    background: linear-gradient(to bottom left, #27C0EF, #cfdee6);
    /* border: 2px solid blue; */
}

h1 {
    font-size: 100px;
    font-weight: bold;
}

.header p{
    font-size: 60px;
    width: 70%;
    font-weight: bold;
}

h1, .header p {
    margin-top: 10%;
    margin-left: 10%;
    color: #FFFFFF;
    /* border: 1px solid green; */
} 

/* ------- FIN HEADER NAATIK -------- */

/* ------- NOSOTROS ----------*/

.nos1 {
    padding: 0;
    width: 50%;
    float: left;
}

.nos2 {
    width: 50%;
    float: right;
}

#aboutus {
    width: 75%;
    margin-left: 15%;
    margin-top: 10%;
}

.nosotros h2, .necesitas h2 {
    margin-top: 30%;
    font-size: 40px;
    font-weight: bold;
    color: #034D82;

}

.nosotros p {
    width: 80%;
    color: #90A3B4;
    font-size: 18px;
    /* border: 1px solid green; */
    line-height: 40px;
    margin-top: 5%;
    margin-bottom: 8%;
}

.nosotros a {
    font-weight: bold;
    color: #04AADD;
    font-size: 18px;
}
/* ------- FIN NOSOTROS ----------*/

/* --- NAATIK TIENE LO QUE NECESITAS ----- */

.necesitas h2 {
    margin-top: 10%;
    margin-left: 10%;
    line-height: 50px;
}

.nec1 {
    width: 45%;
    float: left;
    margin-bottom: 4%;
    /* border: 1px solid red; */
}

.nec1 p {
    margin-left: 10%;
    width: 80%;
    color: #90A3B4;
    font-size: 18px;
    line-height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.nec1 li {
    margin-left: 10%;
    width: 80%;
    color: #90A3B4;
    font-size: 18px;
    line-height: 40px;
    margin-top: 1%;
    list-style-image: url("../img/listado_necesitas.svg");
    /* border: 1px solid blue; */
}

.nec2 {
    margin-top: 6%;
    width: 55%;
    float: right;
}

.nec2 img {
    width: 100%;
}

ul {
    /* border: 1px solid yellow; */
    margin-bottom: 5%;
}

.necesitas a {
    font-weight: bold;
    color: #04AADD;
    font-size: 18px;
    margin-left: 10%;
    /* border: 1px solid green; */
}

/* --- INICIA PARTE LEO ---- */  

.container{
    background: #effbff;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    border: 1px solid purple;
    width: 100%;
}

h2.tar{
    font-family: 'Mulish', sans-serif;;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #034D82;
    text-align: center;
    letter-spacing: 0.2px;
    text-align: left;
}

h2.titulo{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #034D82;
}

.lorems{
    width: 100%;
    border: 1px solid yellow;
    color: #8EA9C1;
    text-align: right;
}

.tarjetas{
    display: flex;
    align-items: center;
    background: #effbff;
    margin: 2% auto;
    border: 1px solid green;
}

.tarjetitas{
    width: 16%;
    height: 300px;
    background: #FFFFFF;
    border-radius: 8px;
    text-align-last: center;
    text-align-last: center;
    border: 1px solid red;
    padding: 2%;
    margin-left: 4%;
}

.fix{
    clear: both;
}


h2.tar{
    text-align: center;
}

.imagen{
    width: 56px;
    height: 56px;
    left: 64px;
    top: 2875px;
    bottom: 100px;
}

section a{
    width: 591px;
    height: 171px;
    left: 621px;
    top: 3184px;
    background: #034D82;
    color:#fff;
    border-radius: 4px;
}

.tarjetas a {
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: #00A8DB;
    height: 50px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
}

/* --- TERMINA PARTE LEO --- */


/* --- 30 AÑOS DE EXPERIENCIA ---- */

.exp1{
    width: 55%;
    /* border: 1px solid red; */
}

.exp1 h2 {
    margin-top: 5%;
    font-size: 30px;
    color: #034D82;
    line-height: 50px;
    margin-left: 6%;
    margin-right: 8%;
    text-align: justify;
}

.exp1 p {
    margin-left: 6%;
    width: 80%;
    color: #90A3B4;
    font-size: 18px;
    line-height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.exp2 {
    width: 45%;
    margin-bottom: 2%;
    /* border: 1px solid green; */
}

.exp2 h2 {
    margin-top: 10%;
    font-size: 80px;
    color: #034D82;
    margin-left: 10%;
    text-align: left;
}

#comilla {
    /* border: 1px solid green; */
    width: 10%;
    float: left;
    margin-top: 5%;
    text-decoration: dotted;
    font-style: italic;
}

.stars {
    margin-top: 10%;
    color: #FAAD13;
    font-size: 25px;
}

.slide > p:not(.stars){
    color: #90A3B4;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 3%;
    /* margin-left: 2%; */
    /* border: 1px solid blue; */
    display: inline-block;
}

.perfil img {
    border-radius: 50%;
    width: 15%;
    float: left;
    margin-right: 3%;
}

.perfil h3 {
    color: #034D82;
    font-weight: bold;
    padding-top: 1%;
}

.position {
    color: #90A3B4;
    /* border: 1px solid red; */
    width: 90%;
    font-weight: bold;
}

/* Animación */

#slideshow {
    overflow: hidden;
    height: 330px;
    width: 500px;
    /* margin: 0 auto; */
}

.slide-wrapper {
    height: 330px;
    /*width: 500 * número clases*/
    width: 1500px;
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 330px;
    width: 450px;
    /* margin-right: 25px; */
}

@-webkit-keyframes slide {
    0% {margin-left: 0px;}
    20% {margin-left: 0px;}
    30% {margin-left: -500px;}
    50% {margin-left: -500px;}
    60% {margin-left: -1000px;}
    90% {margin-left: -1000px;}
  }
  

/* --- FIN 30 AÑOS ---- */

/* Cards */
#cards {
    background: #121314;
    box-sizing: border-box;
}

/* body > ul {
    position: absolute;
    top: 50%;
    width: 800px;
    height: 200px; 
    left: 50%;
    margin-left: -400px;
    margin-top: -130px;
}

ul > li {
    width: 25%;
    list-style-type: none;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 200px; 
    opacity: 0;
    padding-top: 40px;
    text-align: center;
    transition: 1s opacity; 
} */

.active {
    opacity: 1;
}

#cards p {
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    color: #646566;
    line-height: 1.5em;
}

#cards strong { 
    color: #646566;
    font-weight: 700;
    font-size: 60px; 
    line-height: 100px; 
}

/* Sobre nosotros */




/* Footer */
/*Todos los estilos dentro del footer*/
.fix {
    clear: both;    
}

footer {
    margin-top: 60px;
    background-color: #000000;
    color: #FFFFFF;
    height: 300px;
    padding: 30px;
}

.footer-content {
    width: 100%;
}

td.footer-social {
    vertical-align: top;
    padding-left: 50px; 
    line-height: 50px;
}

#face-button, #twitter-button, #youtube-button {
    background-color: transparent;
    border-radius: 30px;
    width: 42px; 
    height: 40px;
    border: none;
}

td.footer-menu {
    vertical-align: top;
}

.footer-menu-table {
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.rights{
    margin-top: 45px;
    text-align: center;
}

th {
    text-align: center;
}