* {
    font-family: 'Mulish', sans-serif;;
    margin: 0;
    padding: 0;
}

a:any-link {
    color: #FFFFFF;
    text-decoration: none;
}

/*Menu superior*/
.upper-nav {
    color: #FFFFFF;
    background-color: #16618F;
    height: 30px;
}

.upper-nav-block {
    padding-top: 5px;
    margin-left: 77%;
    font-size: small;
}

a.nav-items-upper {
    padding-left: 15px;
}

/*Menu principal*/
.main-nav{
    padding-top: 25px;
    margin-left: 55%;
    color: #FFFFFF;
}

a.nav-items {
    font-size: medium;
    padding-left: 30px;
}

/*Seccion de titulo y descripcion*/
.top {
    background-color: #00aeef;
    overflow: auto;
    padding-bottom: 2%;
}

.apartado {
    color: #FFFFFF;
    font-size: 70px;
    padding-top: 5px;
    padding-left: 60px;
}

/* ------- Caratula --------- */

.caratula {
    background-color: white;
    margin-bottom: 0;
}

.joinus {
    width: 45%;
    float: left;
    margin-bottom: 0;
    display: flex;
}

.joinus img {
    width: 100%;

}

.descripcion {
    width: 54%;
    float: right;
    margin-top: 4%;
}

.descripcion p{
    font-size: 140%;
    color: #034D82;
    padding: 0 10%;
    text-align: justify;
    line-height: 180%;
}

.descripcion li {
    list-style: none;
    background-image: url("../img/list.png");
    background-repeat: no-repeat;
    background-size: 2%;
    background-position: left center;
    font-size: 140%;
    color: #034D82;
    padding: 0 5%;
    text-align: justify;
    line-height: 180%;
}

.descripcion ul {
    margin-left: 15%;
}

/* ------- Detalles ------- */
.detalles {
    clear: both;
    float: none;
    background-color: #EFFBFF;
    overflow: auto;
}

/* --- Beneficios --- */
.beneficios {
    width: 50%;
    float: left;
}

.beneficios h2 {
    font-size: 250%;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.beneficios li{
    list-style-image: url("../img/listado_necesitas.svg");
    font-size: 130%;
    color: #034D82;
    padding: 1% 2%;
    text-align: justify;
    line-height: 180%;
}

.beneficios ul {
    margin-left: 10%;
    width: 75%;
    margin-bottom: 4%;
}

/* --- Actividades --- */
.actividades {
    width: 50%;
    float: right;
}

.actividades h2 {
    font-size: 250%;
    margin-top: 10%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.actividades li{
    list-style-image: url("../img/listado_necesitas.svg");
    font-size: 130%;
    color: #034D82;
    padding: 1% 2%;
    text-align: justify;
    line-height: 180%;
}

.actividades ul {
    margin-left: 10%;
    width: 80%;
}

/* --- Documentación --- */
.documentacion {
    width: 50%;
    float: right;
}

.documentacion h2 {
    font-size: 250%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.documentacion li{
    list-style-image: url("../img/listado_necesitas.svg");
    font-size: 130%;
    color: #034D82;
    padding: 1% 2%;
    text-align: justify;
    line-height: 180%;
}

.documentacion ul {
    margin-left: 10%;
    width: 80%;
}

/* ------- Requisitos ------- */

.requisitos {
    clear: both;
    float: none;
    background-color: white;
    overflow: auto;
}

.requisitos h2 {
    font-size: 250%;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 2%;
}

/* --- Parte 1 --- */
.req1 {
    width: 50%;
    float: left;
}

.req1 li{
    list-style-image: url("../img/listado_necesitas.svg");
    font-size: 130%;
    color: #034D82;
    padding: 1% 2%;
    text-align: justify;
    line-height: 180%;
}

.req1 ul {
    margin-left: 10%;
    width: 75%;
    margin-bottom: 4%;
}

/* --- Parte 2 --- */
.req2 {
    width: 50%;
    float: left;
}

.req2 li{
    list-style-image: url("../img/listado_necesitas.svg");
    font-size: 130%;
    color: #034D82;
    padding: 1% 2%;
    text-align: justify;
    line-height: 180%;
}

.req2 ul {
    margin-left: 10%;
    width: 75%;
    margin-bottom: 4%;
}


/* ------- POSTÚLATE -------*/

.aplica h2 {
    font-size: 250%;
    margin-top: 3%;
    margin-left: 10%;
    color: #034D82;
}

.aplica p {
    font-size: 130%;
    color: #034D82;
    padding: 1% 4%;
    text-align: justify;
    line-height: 180%;
}

.aplica {
    background-color: #EFFBFF;
    clear: both;
    float: none;
    overflow: auto;
}

.info {
    width: 50%;
    float: left;
}

.inscribir {
    width: 50%;
    float: right;
}

.row {
    clear: both;
    margin-bottom: 2%;
    overflow: hidden;
}

.info .row {
    margin-left: 5%;
}

.col1, .col3a {
    float: left;
    width: 50%;
}

.col2 {
    float: right;
    width: 50%;
}

.col1a {
    width: 22.5%;
    float: left;
    margin-right: 1%;
}

.col2a {
    width: 22.5%;
    float: left;
    margin-right: 4%;
}

.info label.required::after {
    content:"*";
    color: red;
    display: inline;
}

.inscribir label.required::before {
    content:"*";
    color: red;
    display: inline;
}

label {
    display: block;
    margin-bottom: 8px;
}


input, select:not(#lenguaje) {
    background-color: #FFFFFF;
    border-width: thin;
    border-color: black;
    border-radius: 3px;
    -ms-box-sizing:border-box !important;
    -moz-box-sizing:border-box !important;
    box-sizing:border-box !important;
    -webkit-box-sizing:border-box !important; 
}


.enviar {
    margin-top: 2%;
    margin-left: 45%;
    background-color: #00A8BD !important;
    border-color: #00A8BD !important;
    color: #ffffff;
    font-weight: bold;
    width: 10%;
    height: 35px;
    font-size: 100%;
    letter-spacing: 0.5px;
}

input:not(.boton), select:not(#lenguaje) {
    width: 85%;
    height: 25px;
    box-sizing: content-box;
}

input[type="file"] {
    display: none;
}

.info input {
    padding-left: 2%;
}

.inscribir label {
    background-color: #FFFFFF;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 50%;
    overflow: auto;
    text-align: center;
    border: 1px solid #808588;
    border-radius: 14%;
}

.inscribir .col1 label {
    margin-left: 20%;
}

.inscribir .col2 label {
    margin-left: 10%;
}

/* ------ Todos los estilos dentro del footer ------- */
.fix {
    clear: both;    
}

footer {
    background-color: #000000;
    color: #FFFFFF;
    height: 300px;
    padding: 30px;
}

.footer-content {
    width: 100%;
}

td.footer-social {
    vertical-align: top;
    padding-left: 50px; 
    line-height: 50px;
}

#face-button, #twitter-button, #youtube-button {
    background-color: transparent;
    border-radius: 30px;
    width: 42px; 
    height: 40px;
    border: none;
}

td.footer-menu {
    vertical-align: top;
}

.footer-menu-table {
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.rights{
    margin-top: 45px;
    text-align: center;
}

th {
  text-align: center;
}