*{
    font-family: 'Mulish', sans-serif;
}
.frente {
    background-color: #16618F;
    height: 25px;
}
/* nav */
.upper-nav {
    color: #ffffff;
    background-color: #16618F;
    height: 100%;
}

a {
    color: rgb(255, 255, 255);
}

select{
    color: #121314;
}
.divisor {
    color:rgb(255, 255, 255) !important; 
    margin-right: 0% !important;
    font-size: 15px !important;
    display: inline;
    margin-left: 2% !important;
    font-weight: normal !important;
}
.upper-nav-block {
    padding: 0.62%;
    margin-left: 62%;
}

a.nav-items-upper {
    padding-left: 0.5%;
}

.main-nav{
    padding-top: 2%;
    margin-left: 52%;
    color: #ffffff;
}

a.nav-items {
    font-size: large;
    padding-left: 2%;
}

.container-fluid {
    /* border: 2px solid purple !important; */
    width: 100%;
}

p:not(.header p, .nosotros p){
    text-align: justify;
}

::-webkit-scrollbar {
    display: none;
}
/* --- HEADER ---*/

.header {
    background-color: #27C1EF;
}

h1{
    margin-top: 3%;
    font-size: 80px;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
}

.header p {
    width: 70%;
    color: #034D82;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 16px;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 4%;
}

/* -- EQUIPO DE TRABAJO -- */

.eTrabajo .col-sm-4 {
    margin-top: 3%;
}

.eTrabajo h2 {
    font-size: 40px;
    text-align: center;
    color: #034D82;
    font-weight: normal;
    margin-top: 5%;
}

.eTrabajo .izquierda {
    /* border: 1px solid green; */
    width: 50%;
    float: left;
}

.eTrabajo .derecha {
    /* border: 1px solid red; */
    width: 50%;
    float: right;
}

.eTrabajo .abajo {
    /* border: 1px solid yellow; */
    width: 50%;
    float: inline-block;
    margin-left: 25%;
    margin-right: 25%;
}

.eTrabajo img {
    float: left;
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 50%;
    width: 35%;
}

.eTrabajo h3 {
    margin-top: 10%;
    font-size: 20px;
    color: #034D82;
}

.eTrabajo p {
    text-align: justify;
    width: 90%;
}

.eTrabajo h3, .eTrabajo p {
    margin-left: 5%;
    /* border: 1px solid purple; */
}

/* --- MISION ---- */

.mision {
    background-color: #27C1EF;
    margin-top: 5%;
}

.mision h2 {
    font-size: 40px;
    text-align: center;
    color: #034D82;
    font-weight: normal;
    margin-top: 3%;
}

.mision p {
    text-align: justify;
    width: 70%;
    margin: 3% 15%;
    font-size: 16px;
}

/* ---- Vision ----- */

.vis .col-sm-6 {
    padding: 0px 0px !important;
}

.vis1 {
    float: left;
    width: 50%;
}

.vis2 {
    float: right;
    width: 50%;
}

.vis h2{
    margin-top: 15%;
    font-size: 40px;
    text-align: center;
    color: #034D82;
    font-weight: normal;
}

.vis p {
    color: #034D82;
    text-align: justify;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
    font-size: 16px;
}

.vis img {
    width: 100%;
    background-color: #034D82;
}

/* ---- Valores ---- */

.val .col-sm-6 {
    padding: 0px 0px !important;
}

.val img {
    width: 100%;
    background-color: #034D82;
}

.val h2{
    margin-top: 20%;
    font-size: 40px;
    text-align: center;
    color: #034D82;
    font-weight: normal;
}

.val ul {
    color: #034D82;
    text-align: justify;
    width: 60%;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 6%;
    font-size: 18px;
}


/* --- FOOTER ---- */

.fix {
    clear: both;    
}

.row footer {
    background-color: #000000;
    color: #FFFFFF;
    height: 330px;
    padding: 30px;
    font-size: 16px;
    
}


.footer-content {
    width: 100%;
}

td.footer-social {
    vertical-align: top;
    padding-left: 50px; 
    line-height: 50px;
}

#face-button, #twitter-button, #youtube-button {
    background-color: transparent;
    border-radius: 30px;
    width: 42px; 
    height: 40px;
    border: none;
}

td.footer-menu {
    vertical-align: top;
}

.footer-menu-table {
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.rights{
    margin-top: 45px;
    text-align: center;
}
th {
    text-align: center;
}