h1{
    font-size: xx-large;
    text-align: center;
}
h2{
    font-size: xx-large;
    text-align: center;
}
p{
    text-align: justify;
    padding: 1em;
}

.eTrabajo p{
    text-align: center;
}
.center{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.valores{
    width: 80%;
    margin-left: 10%;
}
.val h2{
    margin-top: 18%;
}

.objetivo{
    width: 80%;
    margin-left: 10%;
}

.obj h2{
    margin-top: 18%;
}