*{
    font-family: 'Mulish', sans-serif;
}

.frente, .header {
    background-color: #16618F;
    height: 25px;
    margin: 0 !important;
    text-align: left !important;
}

.container-fluid{
    padding: 0;
}
.top{
    background: #27C1EF;
    height: 50px;
}
a {
    color: rgb(255, 255, 255);
}

select{
    color: #121314;
}

.main-nav{
    padding-top: 1%;
    margin-left: 40%; 
    color: #ffffff;
}

a.nav-items {
    font-size: large;
    padding-left: 2%;
}

.divisor {
    color:rgb(255, 255, 255) !important; 
    margin-right: 0% !important;
    font-size: 15px !important;
    display: inline;
    margin-left: 2% !important;
    font-weight: normal !important;
    padding: 0 !important;
    background-color: transparent !important;
}

.header p {
    width: 70%;
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 4%;
}

h2{
    text-align: center;
}

.img1{
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

/* -- PREGUNTAS -- */
.row {
    text-align: center;
    margin: 10px;
}

.question{
    display: inline;
    text-decoration: none;
    padding-top: 10px;
    background: #9BE1F8;
    width: 900px;
    height: 40px;
    border-radius: 30px;
}

p{
    text-align: justify;
    background: #fff;
    margin-bottom: 0;
    padding: 0 25px;
    margin-top: 3%;
}

li {
    text-align: left;
}

a.email {
    color: #034D82 !important;
}

/* --- FOOTER ---- */

.fix {
    clear: both;    
}

.fix + .row ,footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 15px;
    font-size: 16px;
    margin: 0;
    text-align: left;
}

footer p{
    background-color: #000000;
    padding: 0;
    margin: 0 0 10px;
}


.footer-content {
    width: 100%;
}

td.footer-social {
    vertical-align: top;
    padding-left: 50px; 
    line-height: 50px;
}

#face-button, #twitter-button, #youtube-button {
    background-color: transparent;
    border-radius: 30px;
    width: 42px; 
    height: 40px;
    border: none;
}

td.footer-menu {
    vertical-align: top;
}

.footer-menu-table {
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.rights{
    margin-top: 45px;
    text-align: center;
}
th {
    text-align: center;
}

