*{
    font-family: 'Mulish', sans-serif;
}
/* nav */
.upper-nav {
    color: #ffffff;
    background-color: #16618F;
    height: 100%;
}

.container-fluid{
    padding: 0;
}
.top{
    background: #27C1EF;
    height: 50px;
}
a {
    color: rgb(255, 255, 255);
}

select{
    color: #121314;
}

.upper-nav-block {
    padding: 0.5%;
    margin-left: 72%;
}

a.nav-items-upper {
    padding-left: 7%;
}

.main-nav{
    padding: 1%;
    margin-left: 61%; 
    color: #ffffff;
}

a.nav-items {
    font-size: large;
    padding-left: 5%;
}

h2{
    text-align: center;
}

.img1{
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.row {
    text-align: center;
    margin: 10px;
}

.question{
    display: inline;
    text-decoration: none;
    padding-top: 10px;
    background: #9BE1F8;
    width: 900px;
    height: 40px;
    border-radius: 30px;
}

p{
    text-align: justify;
    background: #fff;
    margin-bottom: 0;
    padding: 0 25px;
    margin-top: 3%;
}