*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: #00aeef;
}

.contenedor {
    margin: auto;
    width: 1000px;
    height: 509px;
    border-radius: 40px;
    background: white;
    margin-top: 90px;
}

.texto {
    padding: 160px;
    text-align: center;
    font-family: 'Mulish', sans-serif;;
}

h2 {
    font-size: 40px;
}

h4 {
    margin-top: 2%;
    font-size: 20px;
}

.contenedor button {
    margin-top: 10%;
    margin-bottom: 10%;
    align-content: center;
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    background-color: #00A8DB;
    height: 50px;
    width: 180px;
    font-size: 14px;
    font-weight: bold;
}
